*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 1.2rem;
    font-weight: bold;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    padding: 0.8rem;   
    background:linear-gradient(135deg,#3a6186,#89253e);

}

.beardiv{
    position: absolute;
    margin:0rem 0 28rem 0;
    z-index: -2;
    padding:0;
}

.bear{
    max-width: 13rem;
    max-height: 8rem;
    position: flex;
    display: flex;
    align-items: center;
    z-index: -2;
    padding: 1rem 1rem;
    animation: rotation 8s infinite linear;
    margin: 0;
    float: center;
    filter: opacity(0.5) drop-shadow(0 0 0 #3a6186);
}

@keyframes rotation{
    from {
        transform: rotateZ(0deg);
      }
      to {
        transform: rotateZ(359deg);
      }
}
.container{
    min-height: 100vh;
    max-width: 42rem;
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container .title{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
     color: #f0e5e5;
}

.container form .user-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0 0.8rem 0;
    color: #f0e5e5;
}

form .user-detail .input-box{
    margin-bottom: 0.8rem;
    width: calc(100% / 2 - 1.3rem);
}

.user-detail .input-box .details{
    display: block;
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.user-detail .input-box input{
    height: 3rem;
    width: 100%;
    outline: none;
    border-radius: 0.4rem;
    border:0.1rem solid rgb(192, 151, 151);
    padding-left: 0.1rem;
    font-size: 1rem;
    border-bottom-width: 0.01rem;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.user-detail .input-box input:focus,
.user-detail .input-box input:valid{
    border-color: #5D4954
}

form .button{
    max-height: 3rem;
    margin: 2rem 0;
}

.button{
    max-height: 80%;
    width: 100%;
    outline: none;
    color: #f0e5e5;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    letter-spacing: 0.01rem;
    border-radius: 0.4rem;
    border: #141414;
    background:linear-gradient(135deg,#3a6186,#89253e);
    box-shadow: 0 0.4rem 0.8rem #5D4954;
    box-shadow: 0 0.4rem 0.8rem rgb(207, 204, 204);
}

a{
    color: #141414;
    text-decoration: none;
}

.button:hover{
    background:linear-gradient(135deg,#89253e ,#3a6186);
    box-shadow: none;
   
}
@media (max-width: 38rem ) {
    .container{
        max-width: 100%;
    }
    form .user-detail .input-box{
        margin-bottom: 1rem;
        width: 100%;
    }
    .container form .user-detail{
        max-height: 16rem ;
        overflow-y: scroll;
    } 
    .user-detail::-webkit-scrollbar{
        width: 0;
    }
}